In [3]:
#creating two lists
list1 = ["jockey","oxo","ramraj","webo"]
list2 = ["nike","adidas","RR"]
print(list1)
print(list2)

['jockey', 'oxo', 'ramraj', 'webo']
['nike', 'adidas', 'RR']

In [4]:
#overlapping two lists
l = list1+list2
print(l)

['jockey', 'oxo', 'ramraj', 'webo', 'nike', 'adidas', 'RR']

In [5]:
#even numbers tasks
for i in range(20,41,2):
  print(i)

20
22
24
26
28
30
32
34
36
38
40